.changePassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    max-width: 500px;
    margin: 0 auto;
}

.title {
    margin-bottom: 60px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.button {
    padding: 10px 15px;
    background-color: #9fadff;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #6b7fff;
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.error {
    font-size: 13.5px;
    color: red;
    margin-top: 10px;
    margin-bottom: 25px;
}