.forgotPassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 60px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
}

.input {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    margin-bottom: 30px;
}

.button {
    padding: 10px;
    background-color: #9fadff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.button:hover {
    background-color: #6b7fff;
}

.notice {
    font-size: 14px;
    color: #555;
    text-align: center;
}
