.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom: none;
}

.headerTitle {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: bold;
}

.authButtons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.loginButton,
.signupButton,
.myPageButton,
.logoutButton {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 17px;
  background-color: transparent;
}

.loginButton:hover,
.signupButton:hover,
.myPageButton:hover,
.logoutButton:hover {
  color: #00796b;
}


.nickName {
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}