.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom: none;
}

.headerTitle {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: bold;
}

.authButtons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.loginButton,
.signupButton {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
}

.loginButton {
  background-color: #e0e0e0;
  color: #333;
}

.loginButton:hover {
  background-color: #bebebe;
}

.signupButton {
  background-color: #000;
  color: #fff;
}

.signupButton:hover {
  background-color: #333;
}

.nickName {
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.myPageButton,
.logoutButton {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
}

.myPageButton {
  background-color: #2980b9;
  color: white;
}

.myPageButton:hover {
  background-color: #1f6395;
}

.logoutButton {
  background-color: #e74c3c;
  color: white;
}

.logoutButton:hover {
  background-color: #c0392b;
}
