.headerNav {
    display: flex;
    justify-content: space-between; /* 왼쪽과 오른쪽 요소 사이에 공간을 만듭니다 */
    align-items: center;
    padding: 15px 20px;
    background-color: #f0f0f0;
}

.navButtons {
    display: flex;
    gap: 10px; /* 버튼 사이의 간격 */
}

.navButton {
    padding: 0.6rem 1rem;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 14px;
    border-radius: 0.5rem;
}

.visibilityIndicator {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.public {
    background-color: #4CAF50; /* Green for Public */
}

.private {
    background-color: #F44336; /* Red for Private */
}