.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    margin-top: 60px;
    margin-bottom: 60px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
}

.input {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.button {
    padding: 10px 10px;
    background-color: #9aa8f6;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #6f82fc;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 40px;
}

.link {
    text-decoration: none;
    color: #5b5b5b;
    font-size: 16px;
    margin: 0 5px;
}

.link:hover {
    color: #000;
    text-decoration: none;
}

.separator {
    color: #5b5b5b;
    margin: 0 15px;
}
