.manageModifyPage {
  display: flex;
  height: 100vh;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.modifyContent {
  padding: 20px;
  overflow-y: auto;
}

.questionSection {
  margin-bottom: 20px;
}

.questionTitleSection,
.questionContentSection {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.questionLabel {
  flex: 0 0 100px;
  font-weight: bold;
  color: #333;
}

.questionTitleInput,
.questionContentInput {
  flex: 1;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
}

.questionTitleInput {
  height: 30px;
}

.questionContentInput {
  height: 80px;
  resize: vertical;
}

.answerOptions {
  margin-top: 10px; /* 상단 여백 조정 */
  margin-bottom: 20px; /* 하단 여백 조정 */
  background-color: #fff;
  padding: 20px;
  margin-left: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.answerOption {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.optionNumber {
  background-color: #007bff;
  color: white;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
  font-weight: bold;
}

.optionContent {
  flex: 1;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 4px;
  border: none;
  color: #333;
  text-align: center;
}

.questionInfo {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  font-size: 15px;
  color: #666;
  flex-wrap: wrap; /* 필요 시 줄 바꿈 */
}

.infoItem {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 10px; /* 줄 바꿈 시 간격 조정 */
}

.infoLabel {
  font-weight: bold;
  margin-right: 5px;
}

.infoSelect,
.infoInput {
  padding: 10px;
  border: 1px solid #ccc; 
  border-radius: 8px; 
  width: 80px; 
  font-size: 16px;
  margin-left: 12px;
  color: #333; 
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}

.infoSelect option {
  background-color: #fff; 
  color: #333;
}

.actionButtons {
  display: flex;
  justify-content: flex-end;
}

.cancelButton,
.saveButton {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.cancelButton {
  background-color: #f0f0f0;
}

.saveButton {
  background-color: #ffa500;
  color: white;
}

.saveButton:hover {
  background-color: #e59400;
}

.cancelButton:hover {
  background-color: #e0e0e0;
}
