.solvedProblems {
    text-align: left;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.problemTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
}

.problemTable th, .problemTable td {
    padding: 15px 20px;
    text-align: left;
}

.problemTable th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.problemTable td {
    border-bottom: 1px solid #ddd;
    color: #333;
}

.problemTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

.problemTable tr:hover {
    background-color: #f1f1f1;
}

.problemTable tr td:nth-child(1) {
    text-align: left;
    width: 10%;
}

.problemTable tr td:nth-child(2) { /* 댓글 내용 */
    font-weight: 600;
    color: #3697ff; 
    width: 40%;
}

.problemTable tr td:nth-child(3) { /* 작성일 */
    text-align: left;
    width: 30%;
}



.solvedProblems h2 {
    color: #4CAF50;
    font-size: 24px;
    margin-bottom: 20px;
}
