.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    margin-top: 60px;
    margin-bottom: 60px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
}

.inputWrapper {
    position: relative;
    margin-bottom: 20px;
}

.input {
    width: 100%;
    padding: 15px 70px 15px 15px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box; 
}

.codeButton {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 7px 10px;
    background-color: #9fadff;
    border: none;
    border-radius: 5px;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.codeButton:hover {
    background-color: #6b7fff;
}

.input:not(:first-of-type) {
    margin-top: 20px; 
}

.button {
    padding: 10px 10px;
    background-color: #9fadff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 30px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #6b7fff;
}
