.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.heading {
  text-align: left;
  margin: 0;
  flex-grow: 1;
}

.createButton {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background-color: #3f51b5;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-left: auto;
}

.createButton:hover {
  background-color: #303f9f;
}

.spaceGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.spaceCard {
  background-color: #ffffff;
  margin-top: 30px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.spaceCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.spaceIcon {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: #3f51b5;
  background-color: #e8eaf6;
  border-bottom: 1px solid #ddd;
}

.spaceInfo {
  padding: 15px;
}

.spaceTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.spaceDescription {
  font-size: 14px;
  color: #666;
}

/* Modal styles */
.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modalContent {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 500px;
  text-align: center;
}

.modalCloseBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modalSubmitBtn {
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #3f51b5;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

.modalSubmitBtn:hover {
  background-color: #303f9f;
}

.modalInput {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.modalButtonGroup {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.modalButton {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

/* .modalButton:hover {
  background: #ddd;
} */

.searchContainer {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.searchInput {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

.searchButton {
  padding: 8px 16px;
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.searchButton:hover {
  background-color: #333;
}

.noResultsMessage {
  margin-top: 50px;
}

.modalButtonActive {
  background-color: transparent; /* 기본 배경색 유지 */
}

.publicButtonActive {
  background-color: #3f51b5; /* 파란색 */
  color: #ffffff; /* 텍스트 색상 변경 */
}

.privateButtonActive {
  background-color: #ff5252; /* 빨간색 */
  color: #ffffff; /* 텍스트 색상 변경 */
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 16px;
  margin: 0 10px;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
}