.userInfo {
    display: flex;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* 박스 그림자 추가 */
}

.profileImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.profileImage img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    border: 1px solid #ddd;
}

.editButton {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 16px;
    transition: background-color 0.3s ease;
}

.editButton:hover {
    background-color: #45a049;
}

.userDetails {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.detailRow {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.label {
    width: 80px;
    font-weight: bold;
    margin-right: 10px;
    font-size: 17px;
    color: #333;
}

.userDetails input {
    font-size: 18px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    color: #555555;
    box-sizing: border-box; /* padding과 border를 포함한 전체 너비 계산 */
    width: 400px; /* 고정 너비 설정 */
}

.buttonRow {
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.profileEditButton {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: auto;
}

.profileEditButton:hover {
    background-color: #45a049;
}

.profileSaveButton {
    background-color: #FBC02D;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
}

.profileSaveButton:hover {
    background-color: #ffa500;
}

.rankContainer {
    display: flex;
    align-items: center;
    position: relative;
    width: 400px; /* 모든 입력 칸과 동일한 너비 설정 */
}

.inputContainer {
    position: relative;
    width: 100%;
}

.rankInput {
    width: 100%; 
    font-size: 18px;
    padding: 12px;
    padding-right: 40px; 
    border-radius: 4px;
    border: none;
    background-color: #fff;
    color: #555555;
    box-sizing: border-box; 
}

.infoIcon {
    position: absolute;
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
    font-size: 24px;
    color: #888;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.tooltip::after {
    content: '';
    position: absolute;
    top: 100%; 
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
}

.showTooltip {
    opacity: 1;
    visibility: visible;
}

